.crosshair {cursor: crosshair;}
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
table {
  xborder-collapse: collapse;
}
table, td, th {
  padding: 3pt;
}
table {
  xxborder-top: 1px solid black;
}
table.nobd {
	border: 0pt solid white;
}
table.frame {
	border: 1pt solid gray;
}
tr.list {
	min-height: 60pt;
}
table.list tr.list:nth-child(even) {
	background-color: #f5f5f5;
}
/*
table.list tr.list:hover {
	background-color: #e2e2e2;
}*/
table.inner {
	width: 650pt;
	border-style: ridge;
	border-color: lightgray;
}

.asset-upload {
	border: 1pt solid red;
	height: 30pt;
	width: 100pt;
	text-align: center;
	border-radius: 6px;
	background-color: #eaeaea;
	margin-top: 5pt;
	padding: 5pt 5pt;
}
.inputfile {
	color:green;
	border:1pt solid red;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
	padding:10pt 5pt;
	color: red;
	border-color: blue;
    border-radius: 4px;
    text-align: center;
   	box-shadow: 2px 2px 4px 4px rgba(127, 127, 127, 0.25);
}

.inputfile:focus + label,
.inputfile + label:hover {
    box-shadow: 2px 2px 4px 4px rgba(127, 127, 127, 0.5);
}
img.sm {
	max-width: 120px;
	vertical-align: top;
	border-radius: 4px;
	margin-top:3pt;
   	box-shadow: 1px 1px 3px 3px rgba(127, 127, 127, 0.15);
}
img.sm:hover {
	border-color: blue;
	}
img.large {
	max-height: 500px;
	max-width: 650px;
  	border-radius: 4px;
    box-shadow: 1px 1px 3px 3px rgba(127, 127, 127, 0.15);
}
.imglabel {
	vertical-align: top;
	text-align: center;
	font-size: 10pt;
	padding-right: 0pt;
}
.overlay {
	position:absolute;
	z-index:2;
	opacity:0;
	top:0pt;
	left:0pt;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.overlay:hover {
	opacity: .7;
}
.rzslider .rz-pointer {
  width: 16px;
  height: 16px;
  }
.rzslider .rz-pointer:focus {
  background-color: red;
  }
.rzslider .rz-pointer:after {
  display: none;
}
.featurebd {
	float:left;
	border:1px solid gray;
	margin-right:3pt;
	margin-bottom:2pt;
	padding:2pt 2pt;
}
.feature {
	position:relative;
	height:12pt;
	margin-bottom: 1pt;
	border:1pt solid darkgray;
	background-color: #dbf1f9;
}
.feature .title {
	position:absolute;
	background-color: #dbf1f9;
	margin-left:3pt;
}
.feature .bar {
	position: absolute;
	right:0pt;
	padding-left: 5px;
	padding-right: 3pt;
	background-color: lightblue;
}
.feature .value {
	position: absolute;
	right: 3pt;
	padding-left: 5px;
}
.buttonlike {
	color: black;
	border: 1pt solid gray;
	padding:0pt 2pt 0pt 2pt;
}
.touchbutton {
	padding:10pt;
	margin: 10pt;
}
.dlimg {
	z-index:1;
	width: 350pt;
}


/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  xtop: 85%;
  bottom: 0;
  width: auto;
  xmargin-top: -22px;
  margin-bottom: 12px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

  z-index:4;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  xxborder-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  xcolor: #f2f2f2;
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  text-shadow: 1px 1px 0px #f2f2f2;
  top: 0;
  z-index:4;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.ftag {
	margin: 5pt 0pt;
	font-size:10pt;
	width:180px;
	vertical-align:top;
	font-weight: normal;
}
.selected {
	font-weight: bold;
	border: 1pt solid blue;
}